name: Train Model Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install mlflow scikit-learn pandas numpy

    - name: Run training
      env:
        HOME: ${{ github.workspace }}        # force HOME into a writable dir
        MLFLOW_TRACKING_URI: file:${{ github.workspace }}/mlruns
      run: |
        mkdir -p $MLFLOW_TRACKING_URI
        python train_with_mlflow.py
